.movie-page
{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 1rem auto;
}

.movie-page svg
{
    font-size: 1.3rem;
}

.movie-page .movie-card
{
    text-align: center;
}

.movie-page .movie-card img, .movie-page .movie-card h3, .movie-page .movie-card p
{
    margin-bottom: .5rem;
}

.movie-page .movie-card h3
{
    font-size: 1.6rem;
}

.movie-page .movie-card p
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.tagline
{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.info
{
    margin-bottom: 1rem;
}

.info h4
{
    display: flex;
    margin-bottom: .5rem;
    align-items: center;
    gap: .5rem;
}

.description p
{
    line-height: 1.7rem;
}

.back-page
{
    cursor: pointer;
    position: fixed;
    left: 30px;
    padding: .6rem .6rem;
    border-radius: 6px;
    border: none;
    background-color: #fff;
    color: #f81a1aec;
    align-items: center;
    transition: .2s;
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
}

.back-page:hover
{
    background-color: #d133174b;
    color: #fff;
}