#navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#navbar h2 a
{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

#navbar form
{
    display: flex;
    gap: 0.5rem;
}

#navbar input
{
    padding: .3rem .6rem;
    border-radius: 6px;
    border: 1px solid #f81a1aec;
    outline: none;
}

#navbar input::placeholder
{
    color: #530707;
}

#navbar form button
{
    padding: .3rem;
    border-radius: 6px;
    border: none;
    background-color: #f81a1aec;
    color: #ffffff;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    transition: .2s;
}

#navbar form button:hover
{
    background-color: #d133174b;
    color: #f81a1aec;
}