.app-container
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #530707;
    padding-top: 4rem;
}

.content
{
    flex: 1;
}

.scroll-to-top-button
{
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 1000;
    background-color: #f81a1aec;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-size: 66px;
    cursor: pointer;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
  }

.scroll-to-top-button:hover
{
    background-color: #ffffff;
    color: #f81a1aec;
}