*
{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  background-color: #530707;
  color: #ffffff;
}

a
{
  text-decoration: none;
  color: #f81a1aec;
  transition: .10s;
}

a:hover
{
  color: #d133174b;
}